<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAx1xl7LgNG4O9lelQCsDSevTNO4BFZnZw</string>
	<key>GCM_SENDER_ID</key>
	<string>116434851486</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ntt.chatapp</string>
	<key>PROJECT_ID</key>
	<string>chat-app-f667e</string>
	<key>STORAGE_BUCKET</key>
	<string>chat-app-f667e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:116434851486:ios:8856bf6e6633f51cfd0d8f</string>
</dict>
</plist>